@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans");

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

  * {
    margin-block: 10px;
  }

  input {
    background-color: lightyellow;
    padding: 10px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
    font-size: 0.8em;
  }

  input[type="submit"] {
    background-color: palegreen;
  }

}

.podatak {
  background-color: lavender;
}

.rezultat {
  background-color: lightblue;
  /* width: 200px; */
}

.podatak,
.rezultat {
  padding: 10px;
  margin: auto;
}